#Login-Box{
    border:solid 2px rgba(255, 255, 255, 0.1);
    border-radius:10px;
    align-items: center;
    margin:0;
    width:300px;
    height: 300px;
    padding:10px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

#Login-Box-Parent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:12px;
}

form input{
    font-size: 20px;
    padding:5px;
    border-radius: 10px;
    border:none;
}

form input[type="submit"]{
    font-size:20px;
}

#Login-Box h2{
    user-select: none;
    cursor:normal;
    pointer-events: none;
}

#Login-Box form{
    display: flex;
    flex-direction: column;
    gap:12px;
    width: auto;
    align-items: center;
}