.shop{
    Display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    margin:10px;
}

.card{
    border:solid black 2px;
    color:white;
    background-color:black;
    padding:10px;
}

.card img{
    height:300px;
    width:auto;
}