#black-tile{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%;
  height:200px;
  background-color: black;
  padding:20px;
  box-sizing: border-box;
}

#black-tile h1{
  color:white;
  margin:0;
}

#black-tile a{
  color:white;
  margin:0;
}

#black-tile input[type="search"]{
  height:40px;
  width:400px;
  border-radius: 15px;  
  border:none;
}